html

  //- includes head from includes folder .jade will be added automatically
  include includes/head

  body

    include includes/menu

    .container
      .in-blk.blk3x4
        block content
      .in-blk.blk1x4
        block sidebar

    //-#container
      .row
       .col-lg-8
       .col-lg-4 -//

    include includes/footer