extend layout
block content
  #login
    h1 Login Form
    form(action= '/user-login' , method='post' , class='login-form')
      div.input
        span.label Email
        input(type='email',name='email')
      div.input
        span.label Password
        input(type='password',name='password')
      input(type='submit',name='submit' value='Login')

  #registration
    h1 Registration Form
    form(action= '/user-register' , method='post' , class='register-form')
      div.input
        span.label Name
        input(type='text',name='name',require)
      div.input
        span.label Email
        input(type='email',name='email',require)
      div.input
        span.label Password
        input(type='password',name='password',require)
      div.input
        span.label Re-Password
        input(type='password',name='repassword',require)
      input(type='submit',name='submit' value='Register')